<header>
   <title>🐿Chipmunk</title>
   <a href="/">🏠</a>
   <a href="/user/login">🙋🏻‍♀️</a>
   <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-app.js"></script>
   <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-auth.js"></script>

   <script src="https://www.gstatic.com/firebasejs/8.2.2/firebase-analytics.js"></script>

   <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
   <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

   <button type="button" id="signin" value="signin" style="display:none;">signin</button>
   <button type="button" id="logout" value="logout" style="display:none;">logout</button>

   
</header>